<div class="jumbotron" id="websites-div" style="margin:0 auto;width:100%;">
 <h1>Portfolio</h1>
</div>
<div style="padding:0px; margin:0px; background-color:#eee;font-family:Arial, sans-serif">

    <script>
        jssor_1_slider_init = function() {

            var jssor_1_SlideoTransitions = [
              [{b:5500,d:3000,o:-1,r:240,e:{r:2}}],
              [{b:-1,d:1,o:-1,c:{x:51.0,t:-51.0}},{b:0,d:1000,o:1,c:{x:-51.0,t:51.0},e:{o:7,c:{x:7,t:7}}}],
              [{b:-1,d:1,o:-1,sX:9,sY:9},{b:1000,d:1000,o:1,sX:-9,sY:-9,e:{sX:2,sY:2}}],
              [{b:-1,d:1,o:-1,r:-180,sX:9,sY:9},{b:2000,d:1000,o:1,r:180,sX:-9,sY:-9,e:{r:2,sX:2,sY:2}}],
              [{b:-1,d:1,o:-1},{b:3000,d:2000,y:180,o:1,e:{y:16}}],
              [{b:-1,d:1,o:-1,r:-150},{b:7500,d:1600,o:1,r:150,e:{r:3}}],
              [{b:10000,d:2000,x:-379,e:{x:7}}],
              [{b:10000,d:2000,x:-379,e:{x:7}}],
              [{b:-1,d:1,o:-1,r:288,sX:9,sY:9},{b:9100,d:900,x:-1400,y:-660,o:1,r:-288,sX:-9,sY:-9,e:{r:6}},{b:10000,d:1600,x:-200,o:-1,e:{x:16}}]
            ];

            var jssor_1_options = {
              $AutoPlay: true,
              $SlideDuration: 800,
              $SlideEasing: $Jease$.$OutQuint,
              $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizing
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 1920);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            //responsive code end
        };
    </script>

    <style>

        /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('img/a22.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
    </style>


    <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 600px; overflow: hidden; visibility: hidden;">
        <!-- Loading Screen -->
        <!-- <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div> -->
        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 600px; overflow: hidden;">
            <div data-p="225.00" style="display: none;">
                <%= link_to image_tag("thumb-lpcheck.jpg", :style => "position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; width: 100%; height: 600px;"), 'http://lpcheck.com', :target => 'blank' %>
                <div style="position: absolute; top: 380px; left: 30px; width: 480px; height: 212px; font-size: 16px; color: #000; line-height: 16px;background-color:#fff;padding:10px;border-radius:5px;">LPCheck is a simple app that uses the Discogs.com API to fetch my record collection. When
                I find a record that I want, I can use the search feature on my app to make
                sure that I don't have it already. For demo purposes, use username: mcarter78<p style="color:#000;">Technologies used: React, Redux, ExpressJS, NodeJS, ES6, SASS, Discogs API</p><p><a href="https://github.com/mcarter78/lpcheck" target="blank"><i class="fa fa-github"></i></a></p></div>
                <div data-t="0" style="position: absolute; top: 100px; left: 600px; width: 445px; height: 300px;">                </div>
            </div>
            <div data-p="225.00" style="display: none;">
              <%= link_to image_tag("thumb-anagram.jpg", :style => "position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; width: 100%; height: 600px;"), 'http://www.anagram-battle.com', :target => 'blank' %>
              <div style="position: absolute; top: 380px; left: 30px; width: 480px; height: 212px; font-size: 16px; color: #000; line-height: 16px;background-color:#fff;padding:10px;border-radius:5px;">Anagram Battle is a game that tests your ability to deconstruct words and reconstruct them into
                 new words. Go head to head with a variety of fearsome monsters, using your word knowledge to
                 defeat them. Come up with 3 anagrams for the word given to send your foe to his doom. Defeat all
                 eight monsters to become the supreme champion of vocabulary wisdom!<p style="color:#000;">Technologies used: JavaScript, JQuery, HTML/CSS</p><p><a href="https://github.com/mcarter78/anagram-battle" target="blank"><i class="fa fa-github"></i></a></p></div>
              <div data-t="0" style="position: absolute; top: 100px; left: 600px; width: 445px; height: 300px;">
              </div>
            </div>
            <div data-p="225.00" data-po="80% 55%" style="display: none;">
              <%= link_to image_tag("thumb-birdspots.jpg", :style => "position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; width: 100%; height: 600px;"), 'http://birdspots.net', :target => 'blank' %>
              <div style="position: absolute; top: 380px; left: 30px; width: 480px; height: 212px; font-size: 16px; color: #000; line-height: 16px;background-color:#fff;padding:10px;border-radius:5px;">BirdSpots allows bird watchers to record the birds they have seen. Users are able to see all of their past entries as markers on a map. It allows Birders to leave the paper diary at home
                  and record their entries in a more user-friendly and permanent way.<p style="color:#000;">Technologies used: RethinkDB, AngularJS, ExpressJS, NodeJS, Google Maps, Flickr API</p><p><a href="https://github.com/mcarter78/birder_app" target="blank"><i class="fa fa-github"></i></a></p></div>
              <div data-t="0" style="position: absolute; top: 100px; left: 600px; width: 445px; height: 300px;">
              </div>
            </div>
            <div data-p="225.00" data-po="80% 55%" style="display: none;">
              <%= link_to image_tag("thumb-ninjastar.jpg", :style => "position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; width: 100%; height: 600px;"), 'https://shrouded-peak-2980.herokuapp.com', :target => 'blank' %>
              <div style="position: absolute; top: 380px; left: 30px; width: 480px; height: 212px; font-size: 16px; color: #fff; line-height: 16px;background-color:#000;padding:10px;border-radius:5px;">Website for Ninja Star Comic by Scott Carter. (WIP)<p>Technologies used: MongoDB, ExpressJS, AngularJS, NodeJS, LightBox</p><p><a href="https://github.com/mcarter78/ninjastar-comic" target="blank"><i class="fa fa-github"></i></a></p></div>
              <div data-t="0" style="position: absolute; top: 100px; left: 600px; width: 445px; height: 300px;">
              </div>
            </div>
            <div data-p="225.00" data-po="80% 55%" style="display: none;">
              <%= link_to image_tag("thumb-spacetimedrifter.jpg", :style => "position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; width: 100%; height: 600px;"), 'https://peaceful-sierra-40182.herokuapp.com/', :target => 'blank' %>
              <div style="position: absolute; top: 380px; left: 30px; width: 480px; height: 212px; font-size: 16px; color: #fff; line-height: 16px;background-color:#000;padding:10px;border-radius:5px;">SpaceTimeDrifter is a (hypothetical!) community for interplanetary travelers to share their experiences and adventures throughout the solar system.<p>Technologies used: Ruby on Rails, BCrypt, PostgreSQL</p><p><a href="https://github.com/mcarter78/spacetimedrifter" target="blank"><i class="fa fa-github"></i></a></p></div>
              <div data-t="0" style="position: absolute; top: 100px; left: 600px; width: 445px; height: 300px;">
              </div>
            </div>

        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->
            <div data-u="prototype" style="width:16px;height:16px;"></div>
        </div>
        <!-- Arrow Navigator -->
        <i data-u="arrowleft" class="fa fa-angle-left jssora22l" style="top:0px;left:42px;width:80px;height:58px;font-size: 4.5em;" data-autocenter="2"></i>
        <i data-u="arrowright" class="fa fa-angle-right jssora22r" style="top:0px;right:12px;width:40px;height:58px;font-size: 4.5em;" data-autocenter="2"></i>
    </div>
    <script>
        jssor_1_slider_init();
    </script>

    <!-- #endregion Jssor Slider End -->
</div>
<div class="jumbotron" style="color:#000;">
  <h1>Other Projects</h1>
  <h3 style="color:#000;text-decoration:underline;">Channel Finder (Amazon Alexa Skill)</h3>
  <p style="color:#000;">Skill for Amazon Alexa.  Can't find the channel you are looking for on Sacramento region Dish Network?  Have Alexa ask Channel Finder!  Can be downloaded through the Alexa app and added as a skill to for Amazon Echo.</p>
</div>
