<div class="jumbotron center row">
 <div id="websites-div">
  <h1>Portfolio</h1>
  <h4>Click on image to check out a site!</h4>
  <div id="list-div">
  <ul>
    <li><%= link_to image_tag('thumb-lpcheck.jpg', alt: "L P Check Thumbnail", class: "website-thumbnail"), 'http://lpcheck.com/', target: '_blank' %>
    <span class="website-thumbnail-caption">LPCheck</span>
    <p>LPCheck is a simple app that uses the Discogs.com API to fetch my record collection, so when
    I find something at the record store that I want, I can use the search feature on my app to make
    sure that I don't have it already. I probably do. For demo purposes, use username: mcarter78</p>
    <p>Technologies used: React, Redux, ExpressJS, NodeJS, ES6, SASS, Discogs API<a href="https://github.com/mcarter78/lpcheck" target="blank"><i class="fa fa-github"></i></a></p>
    </li>
    <li><%= link_to image_tag('thumb-birdspots.jpg', alt: "BirdSpots Thumbnail", class: "website-thumbnail"), 'http://birdspots.net/', target: '_blank' %>
    <span class="website-thumbnail-caption">BirdSpots</span>
    <p>BirdSpots allows bird watchers to record the birds they have spotted
      (choose from a database of over 4500 birds), the date, the location (with Google Maps integration),
       and any custom remarks. Bird watchers are able to see all of their past entries in a chronological
        list, and also as markers on a map. It allows Birders to leave the pen and paper diary at home
        and record their entries in a more user-friendly and permanent way.</p>
    <p>Technologies used: RethinkDB, AngularJS, ExpressJS, NodeJS, Google Maps, Flickr API<a href="https://github.com/mcarter78/birder_app" target="blank"><i class="fa fa-github"></i></a></p>
    </li>
    <li><%= link_to image_tag('thumb-anagram.jpg', alt: "Anagram Battle Thumbnail", class: "website-thumbnail"), 'http://www.anagram-battle.com/', target: '_blank' %>
    <span class="website-thumbnail-caption">Anagram Battle!!</span>
    <p>Anagram Battle is a game that tests your ability to deconstruct words and reconstruct them into
       new words. Go head to head with a variety of fearsome monsters, using your word knowledge to
       defeat them. Come up with 3 anagrams for the word given to send your foe to his doom. Defeat all
       eight monsters to become the supreme champion of vocabulary wisdom!</p>
    <p>Technologies used: JavaScript, JQuery, HTML/CSS<a href="https://github.com/mcarter78/anagram-battle" target="blank"><i class="fa fa-github"></i></a></p>
    </li>
    <li class="clear-left"><%= link_to image_tag('thumb-ninjastar.jpg', alt: "Ninja Star Comic Thumbnail", class: "website-thumbnail"), 'https://shrouded-peak-2980.herokuapp.com/', target: '_blank' %>
      <span class="website-thumbnail-caption">Ninja Star Comic</span>
      <p>Website for Ninja Star Comic by Scott Carter.</p>
      <p>Technologies used: MongoDB, ExpressJS, AngularJS, NodeJS, LightBox<a href="https://github.com/mcarter78/ninjastar-comic" target="blank"><i class="fa fa-github"></i></a></p>
    </li>
    <li><%= link_to image_tag('thumb-spacetimedrifter.jpg', alt: "SpaceTimeDrifter Thumbnail", class: "website-thumbnail"), 'https://peaceful-sierra-40182.herokuapp.com/', target: '_blank' %>
    <span class="website-thumbnail-caption">SpaceTimeDrifter</span>
    <p>SpaceTimeDrifter is a community for interplanetary travelers to share their experiences and adventures throughout the solar system.</p>
    <p>Technologies used: Ruby on Rails, BCrypt, PostgreSQL<a href="https://github.com/mcarter78/spacetimedrifter" target="blank"><i class="fa fa-github"></i></a></p>
    </li>
  </ul>
</div>
</div>
</div>
