<header class="navbar navbar-fixed-top">
  <div class="container center" id="navbar">
    <nav>
      <%= link_to "Matt Carter", root_path, class: "btn", id: "logo" %>
      <a href="mailto:matt@mattcarterdev.com"><i class="fa fa-envelope"></i></a>
      <a href="https://github.com/mcarter78" target="blank"><i class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/mcarter78" target="blank"><i class="fa fa-linkedin"></i></a>
      <a href="MattResume06072016.pdf" target="blank" style="color:#fff;float:left;margin-top:30px;">Resume</a>
      <ul class="nav navbar-nav navbar-right">
        <li class="btn <%=is_active('contact')%>"><%= link_to "Portfolio", "#websites-div" %></li>
        <li class="btn <%=is_active('about')%>"><%= link_to "About", "#profiles-div" %></li>
      </ul>
    </nav>
  </div>
</header>
